body {
  section.full-width {
    width: auto;
    position: relative;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Sidebar cleanup */
.sidebar {
  .block {
    border: 0;
  }
}

/* Form styling */
.form-control {
  border-radius: 0;
}

a.navbar-brand {
  img {
    max-width: 50px !important;
  }
}

a span.site-name-logo {
  position: relative;
  top: 0;
  font-size: 2.1rem;
}

#edit-submit-content-search {
  display: none;
}
