#block-gov-main-menu {
  li.nav-item {
    a {
      color: white;

      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
  }
}

a.navbar-brand {
  color: white;

  &:hover {
    text-decoration: none;
  }

  img {
    max-width: 80px !important;
  }
}

a span.site-name-logo {
  color: white;

  &:hover {
    text-decoration: none;
  }
}


